body {
  background-color: #fefefe;
  color: white;
}
.box-first{
width:  100 px;
overflow: auto;
border: 3px solid red;
padding: 20 px;
margin: 20 px;
box-sizing: border-box;
border-radius: 5px;
text-align: center;
background-color: lawngreen;
color: wheat;
}
.box-second{
  width: 250px;
  height: 240px;
  overflow: auto;
  border: 3px solid rosybrown;
  padding: 20px;
  margin: 20px;
  
  border-radius: 5px;
  text-align: center;
  background-color: #123456;
  display: inline-block;
}
.box-third{
  width:  100 px;
overflow: auto;
border: 3px solid red;
padding: 20 px;
margin: 20px;
box-sizing: border-box;
border-radius: 5px;
text-align: center;
background-image: url(https://bi.im-g.pl/im/f1/ae/18/z25879793IH,O--Tadeusz-Rydzyk.jpg);
color: azure;
}
.box-fourth{
  width:  100 px;
  overflow: auto;
  border: 3px solid red;
  padding: 20 px;
  margin: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  background-color: lightgreen;
 
}
h1 {
  font-size: large;
  color: coral;
  font-style: italic;
}
h2 {
  font-size: medium;
  color: #1406aa;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}


.Naglowek {
  color: darkred;
  text-emphasis: size;
  animation: forwards;
}
.Lista {
  color: deeppink;
  font-size: 22pt;
  background-color: #1855a3;
  border-color: #d8d8d8;
  border: 10px;
  border-radius: 7px;
}
.head__title{
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  color: darkred;

}
.naglowek__heading--img{
  position: relative;
  margin: 0 auto;
  padding: 20px;
}
.Navigation__Header{
  color: rgb(0, 4, 243);
  font-size: 25px;
  background-color: lawngreen;
  border-radius: 5px;
  border-color: #1406aa;

}
.header__main{
  background-color: rgb(0, 103, 206);
}